<script>
	import Snackbar from '../components/Snackbar.svelte';
	import '../style/main.css';
	import Icon from '../components/Icon.svelte';
	import { base } from '$app/paths';
</script>

<nav>
	<a href="/" class="title"><h1>MatryoshTac Toe</h1></a>
	<menu>
		<li>
			<a href="{base}/help" class="menu-item"
				><Icon ariaHidden={true} icon="helpcircle" />How to play</a
			>
		</li>
		<li>
			<a href="{base}/about" class="menu-item"><Icon ariaHidden={true} icon="info" />About</a>
		</li>
	</menu>
</nav>

<main>
	<slot />
</main>

<footer>
	<span>Made for fun.</span>
	<span
		><a href="http://oliverschwamb.de" target="_blank"
			>Oliver Schwamb <Icon ariaHidden={true} icon="external" /></a
		>.
	</span><span>{new Date().getFullYear()}.</span>
</footer>

<Snackbar />

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5rem;
	}

	nav {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--darkgrey);
		border-bottom: 10px solid var(--blue);
	}

	menu {
		display: flex;
		gap: 1rem;
		padding: 0;
	}

	menu li {
		list-style-type: none;
	}

	menu .menu-item {
		color: var(--cream);
	}

	.title {
		text-decoration: none;
	}

	.title h1 {
		margin-bottom: 0;
		color: var(--cream);
	}

	footer {
		border-top: 10px solid var(--red);
		color: var(--cream);
		background-color: var(--darkgrey);
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 2rem;
		gap: 0.6rem;
		margin-top: auto;
	}

	footer a {
		color: var(--blue);
	}
</style>
