<script>
	import Board from '../components/Board.svelte';
	import '../style/main.css';
</script>

<div class="center">
	<p>Welcome to MatryosTac. Tic Tac Toe but with a twist...</p>
	<p>
		To play click one of your matryoshka puppets and then select, which field you want to put it in.<br
		/>It is possible to swallow smaller (smaller number) puppets.
	</p>
	<p>The first person to set three puppets in a row (horizontally, vertically or across) wins.</p>
</div>
<Board />

<style>
	.center {
		text-align: center;
	}
</style>
