@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: local('Nunito-Regular'), local('Nunito Regular'),
		url('/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-style: bold;
	font-weight: 700;
	src: local('Nunito-Bold'), local('Nunito Bold'), url('/fonts/Nunito-Bold.ttf') format('truetype');
}

:root {
	--red: #b42d34;
	--darkred: #8b2328;
	--blue: #1399b7;
	--darkblue: #0e7a93;
	--white: #ffffff;
	--black: #000000;
	--darkgrey: #2e282a;
	--cream: #fcfaf9;
	--cream-shaded: #f8f4f1;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #f3f4f6;
	color: var(--darkgrey);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	min-height: 100vh;
}

p,
a,
h1,
h2,
h3 {
	color: var(--darkgrey);
}

button {
	font-family: inherit;
	background-color: var(--blue);
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 0.7rem 1.2rem;
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.primary {
	background-color: var(--red);
	color: var(--white);
	font-weight: bold;
}

.primary:hover {
	background-color: var(--darkred);
}

.primary:focus-visible {
	outline-color: var(--black);
}

button:focus-visible {
	outline: 4px solid var(--red);
	z-index: 10;
}

.menu-item {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	text-decoration: none;
	transition: all 300ms ease-in-out;
}

.menu-item:hover {
	text-decoration: underline;
}
