<script lang="ts">
	import Field from './Field.svelte';
	import Icon from './Icon.svelte';
	import { board, empty, termination, type BoardPosition } from '../stores/board.store';
	import { calculateNextMove } from '../logic/computer.actions';
	import Puppets from './Puppets.svelte';
	import { activePuppet, PlayerType, puppets } from '../stores/puppets.store';
	import { snackbar } from '../stores/snackbar.store';
	import { focusFirstButton } from '../logic/a11y.utils';

	let playerStarting = true;
	let playerPuppets: Puppets;

	function onSet(event: CustomEvent<BoardPosition>) {
		if (!$activePuppet) {
			const message =
				'Please select an unused puppet (ranging from 1 to 9 - white background) before selecting your target.';
			const actionText = 'Understood';
			snackbar.show(message, actionText);
			return;
		}

		board.setOn(event.detail, PlayerType.player, $activePuppet);
		puppets.use($activePuppet, PlayerType.player);
		calculateNextMove($board, $puppets);
		playerPuppets.focus();
	}

	function rematch() {
		playerStarting = !playerStarting;
		reset();
		if (!playerStarting) {
			calculateNextMove($board, $puppets);
		}
	}

	function reset() {
		board.reset();
		puppets.reset();
	}

	function onPuppetClick(event: CustomEvent<number>) {
		puppets.setActive(event.detail, PlayerType.player);
		focusFirstButton('.board');
	}
</script>

<div class="container">
	<button on:click={reset} class="reset">
		<Icon icon="rotateccw" direction="n" />
		Reset
	</button>

	<div class="order">
		<Puppets
			bind:this={playerPuppets}
			puppets={$puppets.player}
			player={PlayerType.player}
			on:puppet={onPuppetClick}
		/>

		<div class="board">
			{#each $board as row, i}
				{#each row as field, j}
					<Field
						{field}
						position={{ row: i, column: j }}
						value={$activePuppet}
						on:set={onSet}
						disabled={$termination !== null}
					/>
				{/each}
			{/each}
		</div>

		<Puppets puppets={$puppets.computer} player={PlayerType.computer} />
	</div>

	{#if $empty && playerStarting}
		<p>Player begins!</p>
	{/if}
	{#if $termination}
		{#if $termination !== 'draw'}
			<p>{$termination.toLocaleUpperCase()} wins</p>
		{:else if $termination === 'draw'}
			<p>Draw! Nobody wins</p>
		{/if}
		<button on:click={rematch} class="primary">
			<Icon icon="repeat" direction="n" />
			Rematch!
		</button>
	{/if}
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.order {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.board {
		display: grid;
		grid-template-columns: repeat(3, 5rem);
		grid-template-rows: repeat(3, 5rem);
		gap: 2px;
		background-color: var(--darkgrey);
		border: 2px solid var(--darkgrey);
		margin: 2rem auto;
	}

	.reset {
		align-self: flex-end;
		margin-bottom: 1rem;
	}
</style>
