<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import type { BoardPosition, Field } from '../stores/board.store';
	import { PlayerType } from '../stores/puppets.store';
	import Matrijoschka from './Matrijoschka.svelte';

	const dispatch = createEventDispatcher<{ set: BoardPosition }>();

	export let field: Field;
	export let position: BoardPosition;
	export let disabled: boolean;
	export let value: number;

	const colorMap = {
		player: '#B42D34',
		computer: '#1399B7'
	};

	function onClick() {
		dispatch('set', { ...position });
	}
</script>

<button
	on:click={onClick}
	disabled={disabled || field.value >= value}
	style="color: {field.name === PlayerType.computer ? colorMap['computer'] : colorMap['player']}"
>
	{#if field.value > 0}
		<Matrijoschka unused={true} player={field.name} value={field.value} />
	{/if}
</button>

<style>
	button {
		background-color: var(--white);
		border: none;
		border-radius: 0;
		cursor: pointer;
		font-size: 4rem;
		display: flex;
		justify-content: center;
		padding: 0;
	}

	button:hover {
		background-color: var(--cream);
	}

	button:disabled {
		background-color: var(--cream-shaded);
		color: #000000;
		cursor: not-allowed;
	}
</style>
