<script context="module">
	import allPaths from './icons';
	export const icons = Object.keys(allPaths);
	export const directions = ['n', 'ne', 'e', 'se', 's', 'sw', 'w', 'nw'];
</script>

<script lang="ts">
	export let icon = 'arrow';
	export let direction = 'n';
	export let ariaHidden = false;
	const pathsByName: { [key: string]: string[] } = allPaths;

	$: paths = pathsByName[icon] || [];
	$: rotation = directions.indexOf(direction) * 45;
</script>

<svg
	aria-hidden={ariaHidden}
	class="c"
	viewBox="0 0 25 25"
	fill-rule="evenodd"
	clip-rule="evenodd"
	style={`transform: rotate(${rotation}deg)`}
>
	{#each paths as path}
		<path d={path} />
	{/each}
</svg>

<style>
	.c {
		width: 1em;
		height: 1em;
		fill: currentColor;
		transition: all 0.3s ease-out;
		overflow: visible;
	}
</style>
