<script lang="ts">
	import { PlayerType } from '../stores/puppets.store';

	export let player: PlayerType;
	export let value: number;
	export let unused: boolean;

	$: color = player === PlayerType.player ? 'red' : 'blue';
	$: sign = player === PlayerType.player ? 'X' : 'O';
</script>

<div class="container">
	<svg width="320" height="478" viewBox="0 0 320 478" xmlns="http://www.w3.org/2000/svg">
		<g>
			<path
				fill="currentColor"
				d="M1.49999 350.5C-1.30001 460.1 97 477.5 156 477.5H164.441C223.441 477.5 321.741 460.1 318.941 350.5C315.441 213.5 258.441 195 247.941 169C237.441 143 242.941 115.5 242.941 96C242.941 76.5 247.941 0.5 164.441 0.5H156C72.5 0.5 77.5 76.5 77.5 96C77.5 115.5 83 143 72.5 169C62 195 4.99999 213.5 1.49999 350.5Z"
				stroke="currentColor"
			/>
			<text class:unused class="value {color} {unused}" x="50%" y="85%" text-anchor="middle">
				{value}
			</text>
			<text class:unused class="sign {color}" x="50%" y="30%" text-anchor="middle"
				>{sign + sign + sign}</text
			>
		</g>
	</svg>
</div>

<style>
	.container {
		width: 90%;
		height: 90%;
	}

	svg {
		width: 100%;
		height: 100%;
	}

	.red.sign.unused,
	.red.value.unused {
		fill: var(--white);
	}

	.value {
		font-size: 13rem;
	}

	.sign {
		font-size: 4rem;
	}
</style>
