<script lang="ts">
	import { focusFirstButton } from '../logic/a11y.utils';
	import { PlayerType, type PuppetType } from '../stores/puppets.store';
	import Puppet from './Puppet.svelte';

	export let puppets: PuppetType[];
	export let player: PlayerType;

	export function focus() {
		focusFirstButton('.puppets');
	}
</script>

<div class="container">
	<p class="top-zero">{player === PlayerType.computer ? 'Computers' : 'Your'} puppets</p>
	<div class="puppets">
		{#each puppets as puppet}
			<Puppet {puppet} {player} on:puppet />
		{/each}
	</div>
</div>

<style>
	.container {
		max-width: 452px;
	}

	.puppets {
		display: grid;
		grid-auto-flow: column;
		gap: 2px;
		background-color: var(--darkgrey);
		border: 2px solid var(--darkgrey);
	}

	.top-zero {
		margin-top: 0;
	}
</style>
