<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { PlayerType, type PuppetType } from '../stores/puppets.store';
	import Matrijoschka from './Matrijoschka.svelte';

	const dispatch = createEventDispatcher<{ puppet: number }>();

	export let puppet: PuppetType;
	export let player: PlayerType;

	const onClick = () => {
		dispatch('puppet', puppet.value);
	};
</script>

<button
	class={player}
	class:inUse={puppet.inUse}
	class:active={puppet.active}
	on:click={onClick}
	disabled={player === PlayerType.computer || puppet.inUse}
>
	<Matrijoschka
		value={puppet.value}
		{player}
		unused={player === PlayerType.player && !puppet.inUse && !puppet.active}
	/>
</button>

<style>
	button {
		cursor: pointer;
		background-color: var(--white);
		border: none;
		border-radius: 0;
		font-size: 1.5rem;
		padding: 0;
		display: flex;
		justify-content: center;
	}

	button:disabled {
		cursor: not-allowed;
	}

	.player {
		color: var(--red);
	}

	.computer {
		color: var(--blue);
	}

	.inUse {
		color: var(--white);
		background-color: var(--darkgrey);
	}

	.computer.active {
		color: var(--black);
		background-color: var(--blue);
	}

	.player.active {
		color: var(--white);
		background-color: var(--red);
	}
</style>
