<script lang="ts">
	import { linear } from 'svelte/easing';
	import { fly } from 'svelte/transition';
	import { snackbar } from '../stores/snackbar.store';

	let options = { duration: 350, easing: linear };

	const onClick = () => {
		snackbar.hide();
	};

	const focus = (el: HTMLButtonElement) => {
		el.focus();
	};
</script>

{#if $snackbar?.isVisible && $snackbar?.data?.message}
	<div
		class="snackbar"
		in:fly={{ ...options, opacity: 1, y: 300 }}
		out:fly={{ ...options, opacity: 0, y: 150 }}
	>
		<div class="snackbar-text">
			{$snackbar.data.message}
		</div>
		<button class="primary" on:click={onClick} use:focus
			>{$snackbar.data.actionText || 'Dismiss'}</button
		>
	</div>
{/if}

<style>
	.snackbar {
		align-items: center;
		background: var(--red);
		border-radius: 0.5rem;
		color: #fff;
		display: inline-flex;
		justify-content: center;
		padding: 0.625rem 1.25rem 0.625rem 1.25rem;
		position: fixed;
		bottom: 3rem;
		width: fit-content;
		z-index: 9;
		box-shadow: 0px 8px 14px -3px rgba(0, 0, 0, 0.4);
	}
	button {
		border: 2px solid var(--white);
		margin-left: 1.5rem;
	}
</style>
