<script lang="ts">
	import { base } from '$app/paths';
	import Icon from './Icon.svelte';

	export let heading: string;
</script>

<div class="subpage-heading">
	<h2>{heading}</h2>
	<a href={base} class="menu-item">Close<Icon ariaHidden={true} icon="xcircle" /></a>
</div>

<style>
	.subpage-heading {
		display: grid;
		align-items: center;
		width: 100%;
	}

	.subpage-heading > * {
		grid-column-start: 1;
		grid-row-start: 1;
		justify-self: center;
	}

	.subpage-heading > a {
		justify-self: right;
	}
</style>
