<script>
	import SubpageHead from '../../components/SubpageHead.svelte';
</script>

<SubpageHead heading="How to play" />
<div class="container">
	<p>
		Basically this is like regular Tic Tac Toe. The same rules apply, but it is extended, offers
		more tactical possibilities.
	</p>
	<h3>How to win?</h3>
	<p>The first player that has three puppets in a row wins. This can be...</p>
	<ul>
		<li>...vertically</li>
		<li>...horizontally</li>
		<li>...or across.</li>
	</ul>
	<p>
		It doesn't matter which value a puppet has. As long as three puppets of the same color are in
		one row the game is immediatly won.
	</p>
	<h3>How to set puppets?</h3>
	<p>
		Each player has nine puppets ranging from one to nine in value, with nine being the most
		valuable puppet. A puppet of a higher value can be placed over each puppet of lower values. E.g.
		you can place a puppet with the value 5 over each puppet valued one to four. You can't place it
		on a puppet with the value five or higher. You can place puppets on top of your own or your
		opponents puppets. Of course you can also place puppets on empty fields. In order to place a
		puppet first select the value of the puppet you want to place, then select the field onto which
		you want to place the puppet.
	</p>
</div>

<style>
	.container {
		max-width: 450px;
		text-align: center;
	}
</style>
