<script>
	import SubpageHead from '../../components/SubpageHead.svelte';
</script>

<div class="container">
	<SubpageHead heading="About" />
	<p>This is just a fun project... It serves three purposes:</p>
	<ul>
		<li>learning Svelte (so far its fun)</li>
		<li>"Introducing" versatility to Tic Tac Toe</li>
		<li>learing to write a working strategy for the computer player</li>
	</ul>
	<p>
		Especially the latter one turns out to be more challenging than I expected. You will probably
		have noticed that it is - as of now - fairly easy to beat the computer.<br />Writing the logic
		for basic Tic Tac Toe was easy as the possible moves were just a handful...
	</p>
	<p>
		In regard to "introducing versatility" I have to admit that this is not originally my idea. I am
		by far not the only person to have implemented this kind of game. Just a short search will bring
		you numerous results.
	</p>
</div>

<style>
	.container {
		max-width: 450px;
	}

	p {
		text-align: center;
	}
</style>
